<h2>
  {{ title }}
</h2>
<!-- {{ roomList | json }} -->
<table class="table table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <!-- <th>Even/Odd</th> -->
      <th>#</th>
      <th>Room Type</th>
      <th>Room Price</th>
      <th>Room Amenities</th>
      <th>Checkin Time</th>
      <th>Rating</th>
      <th>Select Room</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tr
    [ngClass]="e ? 'even' : 'odd'"
    *ngFor="let room of rooms; let e = even; let o = odd; let i = index"
  >
    <!-- <td>{{ e ? "Even" : "Odd" }}</td> -->
    <td>{{ i + 1 }}</td>
    <td>{{ room.roomType }}</td>
    <td>{{ room.price | currency : "INR" }}</td>
    <td>{{ room.amenities | titlecase }}</td>
    <td>{{ room.checkinTime | date : "full" }}</td>
    <td>{{ room.rating | number : "1.1-3" : "en-us" }}</td>
    <td>
      <!-- <button class="btn btn-primary" (click)="selectRoom(room)">Select</button> -->
      <button
        class="btn btn-primary btn-sm"
        [routerLink]="['/booking', room.roomNumber]"
      >
        Book Room
      </button>
    </td>
    <td class="raw">
      <button
        class="btn btn-success btn-sm"
        (click)="openEditModal(editRoomTemplate, room.id)"
      >
        <i class="fas fa-edit"></i>
      </button>
      <!-- let-room="room" -->
      <ng-template
        #editRoomTemplate
        let-isEditMode="isEditMode"
        let-roomId="roomId"
      >
        <div class="modal-header">
          <h4 class="modal-title">Edit Room</h4>
          <button
            type="button"
            class="btn-close"
            aria-label="Close"
            (click)="closeModal()"
          ></button>
        </div>
        <div class="modal-body">
          <hinv-rooms-add
            [isEditMode]="true"
            [roomId]="room.id"
            (formSubmitted)="closeModal()"
          ></hinv-rooms-add>
        </div>
      </ng-template>

      <!-- <button [routerLink]="['edit', room.id]">
        <i class="fas fa-edit"></i>
      
      </button> -->

      <button (click)="deleteRoom(room.id)" class="btn btn-danger btn-sm">
        <i class="fas fa-trash"></i>
      </button>
    </td>
  </tr>
</table>
