<!-- <h1>Welcome to {{ hotelName }}</h1> -->

<!-- <hinv-header></hinv-header> -->
<!-- {{ rooms$ | async | json }} -->
<!-- <div [hidden]="hideRooms">
  Number of Rooms:
  <div [ngStyle]="{ color: rooms.availableRooms > 0 ? 'green' : 'red' }">
    <div [innerText]="numberOfRooms"></div>
  </div>
</div> -->

<!-- {{ rooms?.availableRooms ?? "No rooms" }} -->

<!-- <div *ngIf="selectedRoom">{{ selectedRoom | json }}</div> -->
<div class="card shadow-sm p-4 m-2">
  <!-- <router-outlet></router-outlet> -->
  <!-- rooms.component.html -->
  <div class="d-flex justify-content-end">
    <button class="btn btn-success" (click)="openModal(addRoomTemplate)">
      Add Room
    </button>
  </div>

  <!-- Define the template for the modal -->
  <ng-template #addRoomTemplate>
    <div class="modal-header">
      <h4 class="modal-title">Add Room</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="closeModal()"
      ></button>
    </div>
    <div class="modal-body">
      <hinv-rooms-add (formSubmitted)="closeModal()"></hinv-rooms-add>
    </div>
  </ng-template>

  <!-- <div>
    <button class="btn btn-success" routerLink="add">Add Room</button>
  </div> -->

  <!-- <h1>
  {{ getError$ | async }}
  Number of rooms: {{ roomsCount$ | async }}
</h1> -->
  <!-- <div *ngIf="rooms$ | async as rooms"> -->
  <!-- [rooms]="roomList" -->
  <!-- [rooms]="rooms" -->
  <hinv-rooms-list
    (selectedRoom)="selectRoom($event)"
    [title]="title"
  ></hinv-rooms-list>
  <!-- </div> -->
  <!-- 
<button (click)="toggle()">Toggle</button>
<button (click)="editRoom()">Edit Room</button>
<button (click)="deleteRoom()">Delete Room</button>

<h1>{{ totalBytes }} loaded</h1> -->
  <!-- document.getElementById('numberOfRooms').innerText = numberOfRooms; -->
</div>
